body
{
  background-color: #c3f9e7;
  color: black;
  font-family: Tahoma;
}

li {
    padding:5px;
    float:left;
}

#header{
    width:25%;
    float:left;
}

#nav{
    width:75%;
    float:left;
}

#nav-list{
    list-style:none;
}

.clearfix:after{
    clear: both;
    display: table;
}
